$primary: #1f282e;
$primary-contrast: #455a64;
$secondary: #ff671d;
$secondary-light: #d9e1e2;
$secondary-medium: #86c8bc;
$secondary-contrast: #022835;
$tertiary-contrast: #443e5d;

$accent-light: #00b7ab;
$accent-dark: #009989;
$font-light: #ababab;
$font-medium: #595959;
// $accent: tbd
